<section class="about container">
    <h1 class="text-center">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus pariatur, asperiores ipsa, distinctio nesciunt quo rem molestias at excepturi deserunt quae porro saepe. Excepturi dolor iusto consequatur ullam ad.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus pariatur, asperiores ipsa, distinctio nesciunt quo rem molestias at excepturi deserunt quae porro saepe. Excepturi dolor iusto consequatur ullam ad.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus pariatur, asperiores ipsa, distinctio nesciunt quo rem molestias at excepturi deserunt quae porro saepe. Excepturi dolor iusto consequatur ullam ad.</p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Youtube</a>
        <a href="#">Twitter</a>
    </div>

</section>
